    <!-- #encoding: utf-8 -->
<h1>Elemente: </h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Element Type</th>
    <th>Beschreibung</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @elements.each do |element| %>
  <tr>
    <td><%= element.name %></td>
    <td><%= element.elementType %></td>
    <td><%= element.description %></td>
    <td><%= link_to 'Anzeigen', element %></td>
    <td><%= link_to 'Bearbeiten', edit_element_path(element) %></td>
    <td><%= link_to 'Löschen', element, method: :delete, data: { confirm: 'wirklich Löschen?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neues Element', new_element_path %>
