<%= form_for :lexicon do |f| %>
  <% if @lexicon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lexicon.errors.count, "error") %> prohibited this lexicon from being saved:</h2>

      <ul>
      <% @lexicon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :keyworda %><br />
    <%= f.text_area :keyworda %>
  </div>
  <div class="field">
    <%= f.label :answer %><br />
    <%= f.text_area :answer %>
  </div>
  <div class="field">
    <%= f.label :counter %><br />
    <%= f.number_field :counter %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
