<p id="notice"><%= notice %></p>

<p>
  <b>Keyword:</b>
  <%= @lexicon.keyword %>
</p>

<p>
  <b>Answer:</b>
  <%= @lexicon.answer %>
</p>

<p>
  <b>Counter:</b>
  <%= @lexicon.counter %>
</p>


<%= link_to 'Edit', edit_lexicon_path(@lexicon) %> |
<%= link_to 'Back', lexicons_path %>
