    <!-- #encoding: utf-8 -->
<!DOCTYPE html>
<html>
  <head>
    <title>Elephant Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap  http://www.w3schools.com/tags/ref_colorpicker.asp-->
    <%= stylesheet_link_tag "application", :media => "all" %>   
	<%= javascript_include_tag "application" %>    
    <%= javascript_include_tag params[:controller] %> 	

  </head>
  <body>
 <div id="wrap" style="background-color:#CCFF99">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" style="background-color:#CCFF99">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Elephant Search</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <% if params[:controller] == 'start' %>
              	<li id="li_index" class="active"><%= link_to "Index", root_path  %></li>
              <% else %>
                <li id="li_index"><%= link_to "Index", root_path  %></li>
              <% end %>
              <% if params[:controller] == 'elements' %>
              	<li id="li_elements" class="active"><%= link_to "Elements", elements_path  %></li>
              <% else %>
              	<li id="li_elements"><%= link_to "Elemente", elements_path  %></li>              
              <% end %>
              <% if params[:controller] == 'questions' %>
              	<li id="li_questions" class="active"><%= link_to "Fragen", questions_path  %></li>              
              <% else %>
               <li id="li_questions"><%= link_to "Fragen", questions_path  %></li>              
              <% end %>
              <% if params[:controller] == 'rest' %>
				<li id="li_questions" class="active"><%= link_to "Rest", rest_index_path  %></li>              
              <% else %>
              	<li id="li_questions"><%= link_to "Rest", rest_index_path  %></li>
              <% end %>                
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container" style="background-color:#CCFF99">
        <div class="page-header">
        	</br>
        	
        	<h1>Projekt 2 Prototyp</h1>
        	</br>

        </div>
            <%= yield %>
      </div>
    </div>

    <div id="footer" style="background-color:#CCFF99">
      <div class="container">
      	<br>
        <p class="text-muted credit">Semantische Suche f&uuml;r Kinder mit <a href="http://stanbol.apache.org/">Stanbol</a> und <a href="http://threejs.org">three.js</a>.</p>
		<p class="text-muted credit">Von Sven Osterwalter und Mira G&uuml;nzburger</p>
      </div>
    </div>
  </body>